<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/svg+xml" href="images/logo.svg">
    <title>CME Files</title>
</head>
<body>
    <div class="topbar">
        <div class="logo-container">
            <img class="logo" src="images/logo.svg" alt="Logo">
            <p>CME Files</p>
        </div>
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Search files...">
            <button type="submit" class="searchButton">
                <img src="images/search.svg" alt="Search">
            </button>
        </div>
        <button class="simple-button">Admin Login</button>
    </div>
    <div class="container">
    </div>
</body>
</html>